# Fichiers et dossier à ignorer

# Ignorer le dossier Scripts
/ChoixResto2/Scripts

# Ignorer le dossier bin
/ChoixResto2/bin
/ChoixResto2.Tests/bin

# Ignorer le dossier obj
/ChoixResto2/obj
/ChoixResto2.Tests/obj

# Ignorer le dossier packages
/packages

# Ignorer les fichiers .suo
*.suo

# Ignorer les fichiers .user
*.user